@import "tailwindcss";

/* Base Theme         */

:root {
  --bg: #05060F;
  --card: #0F172A;
  --card-hover: #162033;
  --text: #F8FAFC;
  --text-secondary: #CBD5E1;
  --accent: #22D3EE;
  --accent-hover: #67E8F9;
  --border: rgba(255,255,255,.08);
}

/* Base Styles        */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, sans-serif;

  /* Custom Cursor Desktop */
  cursor: none;
}

/* Mobile Cursor */
@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}

/*****  Glass Effect     *******/
